<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
</head>
<body>
  <div style="background-color:PaleGoldenRod;text-align: center"><br/>
  <h1><font size="10" face="Comic Sans MS" color="#cc0000">Angular Class</font></h1><br/>
</div>
<div style="background-color:powderblue;"><br/>
<ul>
 <font color="green" size="4"><b>Name&nbsp;:</b> {{my_name}}<br/><br/>
 <b>Age&nbsp;:</b> {{age}}<br/><br/>
 <b>Sex&nbsp;:</b> {{sex}}<br/><br/>
 <b>Email&nbsp;:</b> {{email}}<br/><br/>
 <b>Address&nbsp;:</b> {{address.street}}, {{address.city}}, {{address.province}}, {{address.postcode}}</font><br/>
</ul><br/>
</div>
<div style="background-color:PeachPuff;font-family:Comic Sans MS;">
<h2>&nbsp;<font color="OrangeRed">Edit Profile</font></h2>
</div>
<div style="background-color:PeachPuff;"><br/>
&nbsp;&nbsp;&nbsp;<button (click)=toggleEdit()>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Edit&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>

<div *ngIf="isEditable == true"><br/>
 <form>
   <div>&nbsp;&nbsp;&nbsp;&nbsp;
     <label for="name">
       <b>Name:</b>
     </label>
     <input type="text" [(ngModel)]="my_name" name="name">
   </div><br/>
   <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   	<label for="age">
       <b>Age:</b>
     </label>
     <input type="text" [(ngModel)]="age" name="age">
   </div><br/>
   <div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <label for="sex">
       <b>Sex:</b>
     </label>
     <input type="text" placeholder="Can't edit your sex, Bye.">
   </div><br/>
   <div>&nbsp;&nbsp;&nbsp;
     <label for="email">
       <b>Email:</b>
     </label>
     <input type="text" [(ngModel)]="email" name="email">
   </div>
 </form>
</div><br/>
</div>
<div style="background-color:powderblue;font-family:Comic Sans MS;">
<h2>&nbsp;<font color="Navy">Photo List</font></h2>
</div>
<div style="background-color:powderblue;"><br/>
<ul>
 <li style="list-style-type: none" *ngFor="let photo of photoList;"><img src="{{photo.thumbnailUrl}}"> <br> {{photo.title}}</li>
</ul><br/>
</div>
<div style="background-color:PeachPuff;font-family:Comic Sans MS;">
<h2><font color="OrangeRed">&nbsp;Skills</font></h2>
</div>
<div style="background-color:PeachPuff;font-family:Comic Sans MS;"><br/>
<form (submit)="addSkill(skill.value)">
   <div>
     &nbsp;&nbsp;<label for="skill">Skill: </label>
     <input type="text" #skill placeholder="Add your skill">
   </div>
 </form>
<ul>
	 <li style="list-style-type: none" *ngFor="let skill of skills;" let i = "index">
<button (click)="removeSkill(skill)"><b>X</b></button> {{i+1}}.{{skill}} 
 </li>
</ul><br/>
</div>
</body>
</html>